{% assign tags = tags %}
<div class="product-grid-item__corner">

{% if tags contains 'bestseller' %}
<svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="36" cy="36" r="36" fill="black" />
    <g clip-path="url(#clip0_433_1371)">
        <path
            d="M5.625 23.184C5.97195 22.3016 6.40056 21.4505 6.90579 20.6406C7.65192 19.4279 8.29289 18.7546 9.10433 18.3937C9.80617 18.0254 10.6597 17.9958 11.48 18.4538C12.3556 18.9435 12.8239 19.9113 12.6003 21.1081L12.6423 21.1324C13.4859 20.3176 14.8154 19.8849 16.1161 20.6121C16.4953 20.8179 16.8222 21.1011 17.0732 21.4413C17.3243 21.7816 17.4934 22.1705 17.5685 22.5803C17.7501 23.5502 17.3914 24.7807 16.3641 26.4514C15.9479 27.1326 15.4872 27.7882 14.9848 28.4144L5.625 23.184ZM10.3951 23.642L10.9176 22.7977C11.6305 21.6368 11.4545 20.687 10.6497 20.2395C9.74528 19.7329 8.93716 20.1509 8.29066 21.202C8.0852 21.5116 7.91453 21.8409 7.78146 22.1846L10.3951 23.642ZM14.7622 26.0841C14.9804 25.8157 15.1748 25.5305 15.3434 25.2314C15.9977 24.1676 16.177 22.9814 15.0036 22.326C13.8877 21.7012 12.8637 22.3787 12.1586 23.5238L11.6538 24.3449L14.7622 26.0841Z"
            fill="white" />
        <path
            d="M24.5195 12.6463L20.9593 14.7001L22.6387 17.3459L26.6239 15.0494L27.4807 16.3992L21.7752 19.6941L16.0575 10.6876L21.5527 7.52148L22.4095 8.87024L18.6357 11.0401L20.1114 13.3619L23.6715 11.3081L24.5195 12.6463Z"
            fill="white" />
        <path
            d="M31.032 13.3251C31.8756 13.7105 32.8081 13.8852 33.742 13.8327C35.0173 13.7546 35.6981 13.1341 35.6405 12.276C35.5862 11.4813 34.9995 11.0476 33.577 10.6497C31.704 10.1389 30.4774 9.28936 30.3789 7.77808C30.2682 6.04728 31.6796 4.66158 34.0829 4.51488C35.2774 4.44206 36.1597 4.63836 36.7508 4.88426L36.3811 6.4557C35.6753 6.16607 34.907 6.04159 34.1405 6.09266C32.8652 6.17075 32.3693 6.84196 32.4102 7.46463C32.4645 8.27515 33.1276 8.61075 34.6364 9.06562C36.5947 9.63446 37.5722 10.4988 37.6741 12.0101C37.7848 13.7092 36.546 15.2564 33.7176 15.4295C32.5408 15.5012 31.3099 15.2638 30.6811 14.9419L31.032 13.3251Z"
            fill="white" />
        <path
            d="M47.4413 8.41946L44.563 7.20262L45.2483 5.73145L52.87 8.95875L52.1848 10.4289L49.28 9.19937L45.4829 17.351L43.6409 16.5711L47.4413 8.41946Z"
            fill="white" />
        <path
            d="M58.9266 32.092C58.4931 32.8781 58.2771 33.7586 58.2986 34.651C58.335 35.8697 58.9593 36.5476 59.861 36.5333C60.6958 36.5193 61.1709 35.9798 61.6386 34.643C62.2404 32.8825 63.173 31.7566 64.7612 31.7283C66.5772 31.6979 67.979 33.114 68.0477 35.4115C68.0824 36.5523 67.8447 37.3845 67.5666 37.9363L65.9325 37.5094C66.2622 36.8508 66.42 36.1243 66.3929 35.3913C66.3566 34.1717 65.671 33.6669 65.0161 33.6784C64.1647 33.6915 63.7905 34.3082 63.2598 35.7234C62.5946 37.5644 61.6551 38.4545 60.0672 38.4807C58.2793 38.5092 56.7073 37.2541 56.6255 34.5521C56.5923 33.4264 56.8847 32.2649 57.2437 31.6804L58.9266 32.092Z"
            fill="white" />
        <path
            d="M57.7198 49.5167L59.5257 45.9596L56.6056 44.5836L54.5868 48.5602L53.0967 47.8584L55.9903 42.1599L65.932 46.8426L63.1431 52.3317L61.6529 51.6299L63.5625 47.8632L60.9968 46.6538L59.1908 50.2109L57.7198 49.5167Z"
            fill="white" />
        <path
            d="M57.1942 59.048L55.5985 60.1971L49.9283 53.0376L46.3226 55.6244L45.2996 54.33L50.5074 50.5959L57.1942 59.048Z"
            fill="white" />
        <path
            d="M43.9466 65.936L41.9681 66.275L40.2168 57.4887L35.7622 58.2505L35.4459 56.666L41.8802 55.5653L43.9466 65.936Z"
            fill="white" />
        <path
            d="M24.5206 59.1003L28.5164 60.2429L29.4145 57.2799L24.9456 56.0019L25.4034 54.4896L31.8066 56.3205L28.7525 66.4128L22.5852 64.65L23.043 63.1376L27.2748 64.3484L28.0634 61.7431L24.0676 60.6005L24.5206 59.1003Z"
            fill="white" />
        <path
            d="M14.4839 59.8926C13.6462 59.3268 12.862 58.6917 12.1405 57.9947C11.0093 56.9189 10.434 56.0226 10.3332 55.0938C10.2579 54.3404 10.5524 53.5906 11.2192 52.9522C12.2183 51.994 13.5838 51.9991 14.584 52.4667L14.6181 52.4336C14.2526 51.6916 14.4543 50.8518 15.0138 49.959C15.722 48.7898 16.4078 47.7305 16.5551 47.2999L18.025 48.6977C17.912 49.0294 17.4784 49.8228 16.7243 50.9481C15.9466 52.1397 15.9875 52.7911 16.7811 53.5897L17.5045 54.2776L20.6862 51.2265L22.109 52.5803L14.4839 59.8926ZM16.4713 55.2689L15.6188 54.4589C14.6506 53.538 13.5491 53.462 12.7804 54.1954C11.9418 54.9989 12.1357 55.9507 13.0691 56.8376C13.3574 57.1287 13.6779 57.3892 14.0248 57.6145L16.4713 55.2689Z"
            fill="white" />
        <circle cx="9" cy="41.625" r="2.25" fill="white" />
        <circle cx="57.375" cy="20.25" r="2.25" fill="white" />
    </g>
    <defs>
        <clipPath id="clip0_433_1371">
            <rect width="63" height="63" fill="white" transform="translate(5.625 4.5)" />
        </clipPath>
    </defs>
</svg>
{% elsif tags contains 'newarrival' %}
<svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="36" cy="36" r="36" fill="black" />
    <g clip-path="url(#clip0_433_1387)">
        <path
            d="M14.9912 28.6588L5.61427 23.0817L6.85306 21.235L12.4062 21.3496C13.7974 21.3878 15.1846 21.5094 16.5594 21.7135L16.5773 21.6865C15.208 21.0267 13.8756 20.3012 12.5852 19.513L9.31631 17.5685L10.3188 16.0757L19.6958 21.6562L18.568 23.3412L12.8895 23.1861C11.4517 23.1504 10.0173 23.0379 8.59307 22.8492L8.57165 22.9098C9.82478 23.5636 11.0778 24.2578 12.6246 25.1912L15.9794 27.1862L14.9912 28.6588Z"
            fill="white" />
        <path
            d="M26.3804 12.335L22.6711 14.1447L24.1676 16.8675L28.3173 14.8456L29.0836 16.234L23.1365 19.1321L18.0345 9.86155L23.7631 7.07129L24.5293 8.45968L20.5909 10.3771L21.9049 12.7698L25.6177 10.9601L26.3804 12.335Z"
            fill="white" />
        <path
            d="M34.5078 15.1724L33.1723 4.5L35.3205 4.74601L35.7501 9.57167C35.8647 10.8657 35.9506 12.217 35.9972 13.2785H36.0294C36.3517 12.2069 36.8243 11.014 37.3041 9.74354L39.0942 5.1942L41.203 5.43683L41.6721 10.3299C41.7723 11.5902 41.869 12.7731 41.8834 13.9121H41.9155C42.2736 12.7967 42.6782 11.6442 43.1401 10.404L44.8944 5.86144L46.9352 6.1007L42.6065 16.116L40.4583 15.8666L39.9535 10.8623C39.8318 9.64582 39.7637 8.63822 39.7637 7.49246H39.7315C39.4097 8.58043 39.026 9.65134 38.5822 10.7006L36.6703 15.4184L34.5078 15.1724Z"
            fill="white" />
        <path
            d="M59.717 28.2846L56.4339 28.197L55.8825 26.2964L67.5187 26.7783L68.199 29.1372L58.4461 35.1558L57.8696 33.1709L60.6408 31.486L59.717 28.2846ZM62.0299 30.7884L64.436 29.3192C65.0304 28.9586 65.7142 28.6081 66.287 28.3082V28.2779C65.6247 28.2779 64.8298 28.315 64.1388 28.315L61.2745 28.2139L62.0299 30.7884Z"
            fill="white" />
        <path
            d="M68.625 41.2215C68.5212 42.1822 68.3295 43.1327 68.0521 44.0624C67.6261 45.508 67.089 46.4213 66.287 46.947C65.9347 47.1645 65.535 47.3049 65.1174 47.358C64.6998 47.411 64.2749 47.3754 63.8739 47.2536C63.2813 47.0976 62.7564 46.7691 62.3743 46.3151C61.9923 45.8611 61.7728 45.3049 61.7472 44.7262H61.697C61.1993 45.4002 60.3257 45.626 59.2266 45.5957C57.7944 45.5957 56.4804 45.5283 56.0042 45.6159L56.5556 43.7355C57.4587 43.6473 58.3686 43.6405 59.2731 43.7153C60.7553 43.7793 61.3353 43.4322 61.6755 42.3943L61.944 41.4676L57.551 40.3285L58.0809 38.5088L68.625 41.2215ZM63.3797 41.8248L63.0611 42.9132C62.7031 44.1533 63.1757 45.0969 64.2391 45.3699C65.3955 45.6698 66.1724 45.0531 66.5233 43.8568C66.6443 43.4791 66.7235 43.0906 66.7597 42.6976L63.3797 41.8248Z"
            fill="white" />
        <path
            d="M61.7793 55.6819C61.1894 56.4718 60.5255 57.2105 59.7958 57.8892C58.6716 58.9574 57.7299 59.4966 56.7525 59.5741C56.3324 59.6004 55.9115 59.5378 55.5205 59.3908C55.1296 59.2438 54.7786 59.0163 54.4933 58.7249C54.0577 58.3156 53.7713 57.7867 53.6754 57.2144C53.5796 56.6421 53.6792 56.056 53.9599 55.5403L53.924 55.5067C53.1471 55.8436 52.2592 55.6549 51.3175 55.1191C50.0787 54.4451 48.9617 53.7914 48.507 53.6498L49.9677 52.2648C50.8014 52.6053 51.5977 53.0218 52.3451 53.5083C53.6054 54.2497 54.2929 54.2126 55.1271 53.4645L55.8432 52.7905L52.6208 49.7576L54.053 48.4097L61.7793 55.6819ZM56.8958 53.7813L56.0508 54.5833C55.0876 55.4965 55.0089 56.5345 55.793 57.2792C56.6451 58.0779 57.644 57.8993 58.5713 57.0197C58.8757 56.7481 59.1482 56.4464 59.3841 56.12L56.8958 53.7813Z"
            fill="white" />
        <path d="M47.1786 65.5019L43.097 55.7966L44.9767 55.0957L49.0619 64.801L47.1786 65.5019Z" fill="white" />
        <path
            d="M36.1869 56.9186L39.2661 67.5L37.0641 67.4057L35.7788 62.5901C35.4208 61.2421 35.095 60.0357 34.8765 58.7552H34.8443C34.4863 59.9818 34.0173 61.232 33.5303 62.4823L31.6864 67.1799L29.5382 67.0889L33.8704 56.8242L36.1869 56.9186Z"
            fill="white" />
        <path
            d="M24.2643 57.2086L26.7348 55.1698L28.525 56.2078L19.6457 63.3047L17.451 62.0208L20.2472 51.3652L22.1054 52.4537L21.2999 55.4664L24.2643 57.2086ZM20.7592 56.8514L20.0432 59.4698C19.8677 60.1135 19.6242 60.8178 19.4237 61.4041L19.4523 61.421C19.9321 60.9896 20.4942 60.4605 20.9955 60.0258L23.1616 58.2668L20.7592 56.8514Z"
            fill="white" />
        <path
            d="M8.4034 53.6398L7.42596 51.9549L15.6608 47.6718L13.4552 43.9177L14.9376 43.146L18.124 48.5648L8.4034 53.6398Z"
            fill="white" />
        <circle cx="54" cy="16.875" r="2.25" fill="white" />
        <circle cx="9" cy="37.125" r="2.25" fill="white" />
    </g>
    <defs>
        <clipPath id="clip0_433_1387">
            <rect width="63" height="63" fill="white" transform="translate(5.625 4.5)" />
        </clipPath>
    </defs>
</svg>
{% elsif tags contains 'backinstock'%}
<svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="36" cy="36" r="36" fill="black" />
    <g clip-path="url(#clip0_433_1403)">
        <path
            d="M5.62497 23.2455C5.9372 22.3936 6.32456 21.5689 6.78284 20.7801C7.22307 19.8484 7.95585 19.0719 8.87867 18.5591C9.22695 18.3538 9.62775 18.2451 10.0365 18.2451C10.4453 18.2451 10.8461 18.3538 11.1944 18.5591C11.6364 18.818 11.981 19.205 12.1787 19.6641C12.3764 20.1232 12.4169 20.6307 12.2943 21.1133C12.698 20.6688 13.25 20.3727 13.8562 20.2754C14.4623 20.1782 15.0851 20.2859 15.6176 20.5802C15.9816 20.7766 16.2958 21.0476 16.538 21.374C16.7802 21.7003 16.9443 22.0739 17.0186 22.4681C17.1002 23.807 16.6906 25.1311 15.8607 26.2106C15.4727 26.8704 15.0393 27.5048 14.5637 28.1096L5.62497 23.2455ZM10.2565 23.6453L10.7427 22.8235C11.4143 21.7129 11.2406 20.7912 10.4648 20.3581C9.68903 19.925 8.82069 20.2915 8.2186 21.3132C8.01916 21.6088 7.85607 21.9256 7.73238 22.2571L10.2565 23.6453ZM14.4597 25.9663C14.6599 25.7042 14.8417 25.4297 15.0039 25.1445C15.6291 24.1117 15.7912 22.9234 14.6565 22.3459C13.5217 21.7685 12.6069 22.4126 11.9469 23.5231L11.4607 24.3116L14.4597 25.9663Z"
            fill="#FFFFFE" />
        <path
            d="M19.8321 17.1154L20.7817 19.9806L19.1489 21.0911L15.907 10.8965L17.9333 9.55273L26.7794 16.016L25.0657 17.1265L22.5764 15.283L19.8321 17.1154ZM21.4878 14.3169L19.3111 12.7177C18.7785 12.3179 18.2342 11.8404 17.7479 11.4517C17.9679 12.0181 18.2459 12.6955 18.4659 13.2841L19.2764 15.7828L21.4878 14.3169Z"
            fill="#FFFFFE" />
        <path
            d="M35.8688 14.1062C35.0607 14.571 34.1625 14.8733 33.2288 14.9947C32.5341 15.157 31.8112 15.1743 31.1089 15.0453C30.4067 14.9163 29.7414 14.6441 29.1584 14.2471C28.5754 13.8501 28.088 13.3376 27.7295 12.7442C27.3709 12.1509 27.1497 11.4905 27.0804 10.808C26.9181 10.1057 26.9122 9.37839 27.0626 8.67364C27.213 7.96888 27.5166 7.30245 27.9536 6.71778C28.3906 6.1331 28.951 5.64333 29.5986 5.28037C30.2461 4.91741 30.9663 4.68942 31.7119 4.61127C32.5697 4.4271 33.4593 4.4271 34.3171 4.61127L34.1667 6.13268C33.4724 5.98778 32.7536 5.98778 32.0593 6.13268C31.548 6.17803 31.0535 6.33156 30.6114 6.58221C30.1694 6.83286 29.7906 7.1744 29.5027 7.58223C29.2148 7.99006 29.0249 8.45405 28.9464 8.94078C28.8679 9.42751 28.9028 9.92489 29.0487 10.3971C29.0821 10.8808 29.225 11.3516 29.4677 11.7768C29.7103 12.202 30.0469 12.5713 30.4537 12.8589C30.8605 13.1465 31.328 13.3455 31.8233 13.4421C32.3186 13.5386 32.8296 13.5303 33.3212 13.4177C34.0312 13.3087 34.7141 13.0753 35.3359 12.7292L35.8688 14.1062Z"
            fill="#FFFFFE" />
        <path
            d="M40.859 4.82227L42.7117 5.31089L41.438 9.80851C41.7969 9.49757 42.1445 9.21994 42.4918 8.94231L46.139 6.19931L48.4548 6.799L43.7537 10.0528L45.9075 16.6493L43.7305 16.083L42.1212 10.8413L40.8938 11.6409L39.9214 15.0946L38.0802 14.606L40.859 4.82227Z"
            fill="#FFFFFE" />
        <path d="M64.8505 21.8465L55.5875 26.6995L54.6727 25.067L63.9357 20.2251L64.8505 21.8465Z" fill="#FFFFFE" />
        <path
            d="M57 29.1203L67.4209 27.7544L67.722 29.8644L63.5999 33.0405C62.5589 33.8481 61.4642 34.59 60.323 35.2615C61.7509 34.9391 63.1967 34.6944 64.6534 34.5286L68.3009 34.0511L68.544 35.7502L58.1231 37.1161L57.8453 35.206L62.0946 31.9744C63.1709 31.176 64.2917 30.4345 65.4523 29.7533C64.1092 29.9977 62.7315 30.2087 61.0062 30.4308L57.2547 30.9194L57 29.1203Z"
            fill="#FFFFFE" />
        <path
            d="M54.2325 51.1977C53.3691 51.4017 52.5728 51.8103 51.9167 52.386C51.0136 53.1855 50.8979 54.0406 51.4885 54.607C52.079 55.1734 52.7389 55.1623 54.0473 54.607C55.7725 53.9185 57.2198 53.8407 58.2503 54.918C59.2808 55.9952 59.2462 58.0052 57.5557 59.5044C56.929 60.0885 56.1671 60.5223 55.3324 60.7704L54.6147 59.3712C55.3233 59.1802 55.9741 58.8299 56.5134 58.3495C57.4166 57.561 57.3588 56.7725 56.9304 56.3283C56.502 55.8841 55.6798 55.8841 54.2672 56.4061C52.4494 57.1168 51.1756 57.0391 50.1335 55.9618C49.0915 54.8846 48.9759 52.8746 50.9211 51.1089C51.6469 50.4518 52.5294 49.9752 53.4916 49.7207L54.2325 51.1977Z"
            fill="#FFFFFE" />
        <path
            d="M47.2042 63.7464L50.0296 62.7469L50.5854 64.2128L43.0823 66.8336L42.5266 65.3788L45.3865 64.3794L42.318 56.3058L44.1243 55.6729L47.2042 63.7464Z"
            fill="#FFFFFE" />
        <path
            d="M28.3193 61.9695C28.6088 58.5713 30.9246 56.8167 33.8192 57.0388C36.7139 57.2609 38.4505 59.6263 38.2305 62.5914C38.0105 65.5565 35.718 67.7331 32.7538 67.4999C29.7896 67.2667 28.0646 64.8569 28.3193 61.9695ZM36.1929 62.4582C36.3782 60.3926 35.4401 58.6713 33.599 58.5158C31.758 58.3603 30.5425 59.9484 30.3572 62.0695C30.1951 63.9685 31.0172 65.8564 32.9392 66.0118C34.8613 66.1673 36.0193 64.5459 36.1929 62.4582Z"
            fill="#FFFFFE" />
        <path
            d="M20.2607 52.2412C21.1837 52.4072 22.0621 52.751 22.8427 53.2518C23.4842 53.5682 24.0466 54.0139 24.4916 54.5584C24.9366 55.1029 25.2536 55.7333 25.4208 56.4063C25.588 57.0793 25.6013 57.779 25.4601 58.4575C25.3188 59.136 25.0265 59.7771 24.6027 60.3369C24.236 60.9658 23.7351 61.5136 23.133 61.9446C22.5309 62.3755 21.8411 62.68 21.1082 62.8382C20.3752 62.9964 19.6157 63.0048 18.8792 62.8627C18.1426 62.7207 17.4454 62.4314 16.8331 62.0138C16.0723 61.5916 15.4165 61.0156 14.9111 60.3258L16.069 59.2819C16.475 59.8432 16.9998 60.3162 17.6091 60.6701C18.0239 60.9605 18.5006 61.1591 19.005 61.2515C19.5094 61.344 20.0289 61.3281 20.5261 61.2049C21.0233 61.0817 21.4856 60.8543 21.8802 60.5391C22.2747 60.2238 22.5917 59.8286 22.8079 59.3819C23.115 58.9957 23.3301 58.5499 23.4386 58.0755C23.5471 57.6012 23.5461 57.1099 23.4358 56.6359C23.3255 56.162 23.1085 55.7169 22.8 55.3318C22.4915 54.9467 22.0991 54.631 21.6501 54.4067C21.0453 54.0358 20.374 53.776 19.6701 53.6405L20.2607 52.2412Z"
            fill="#FFFFFE" />
        <path
            d="M10.1177 56.0172L9.06382 54.4847L13.128 51.9194C12.6417 51.9194 12.1786 51.9194 11.7386 51.9194L7.10708 51.6528L5.81012 49.7427L11.5995 50.298L14.5405 43.9902L15.7796 45.8004L13.3711 50.7422L14.8416 50.9199L17.9449 48.9543L18.9985 50.4868L10.1177 56.0172Z"
            fill="#FFFFFE" />
        <circle cx="9" cy="37.125" r="2.25" fill="white" />
        <circle cx="54" cy="14.625" r="2.25" fill="white" />
        <circle cx="61.875" cy="46.125" r="2.25" fill="white" />
    </g>
    <defs>
        <clipPath id="clip0_433_1403">
            <rect width="63" height="63" fill="white" transform="translate(5.625 4.5)" />
        </clipPath>
    </defs>
</svg>
{% endif %}
</div>