<details>
    <summary>
        <div tabindex="-1" class="summary-wrapper"><span class="headline">{{block.settings.faq_question}}</span>
        </div>
        <svg width="19" height="9" viewBox="0 0 19 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.6592 0.5L9.82973 8.5L1.00028 0.500002" stroke="#121212" stroke-linejoin="round"/>
        </svg>            
    </summary>
    <div class="indent-content">
        {{block.settings.faq_answer}}
    </div>
</details>