<article id="{{page.handle}}" class="page hentry">
	<header>
		<div class="title-bar custom-font">
			<h2>{{ page.title }}</h2>
			<div class="clear"></div>
		</div>
	</header>
	<section class="entry-content">
		{{ page.content }}
		
		<div style="margin: 50px 0;">{% include 'getsocial-inline-bar' %}</div>
	</section>
</article>