<div id="col-main" class="content" style="margin-top: 20px;">

	<div class="row hsftgirl">
		
		<div class="col-md-offset-0 col-md-12">
			{{ page.content }}
		</div>
	
	</div><!-- /.row.hsftgirl -->

</div><!-- /#col-main -->